[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=pvegdahl
WorkingDirectory=/home/pvegdahl/sites/DOMAIN
EnvironmentFile=/home/pvegdahl/sites/DOMAIN/.env

ExecStart=/home/pvegdahl/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

